/* Root Container */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Logo Animation */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Header Styles */
header {
  display: flex;
  justify-content: center;
  padding: 20px 30px;
  background-color: #DEBA6F;
  color: white;
  font-size: 1.5em;
}

header h1 {
  font-size: 2.5em;
  color: white;
}

/* Card Container */
.card {
  padding: 2em;
  margin-top: 40px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.title {
  font-size: 30px; /* Ajusta el tamaño de la fuente aquí */
  font-weight: bold; /* Puedes agregar otras propiedades como el peso de la fuente */
  color: #ffffff; /* También puedes cambiar el color si lo deseas */
  font-family: Georgia, 'Times New Roman', Times, serif;
}


/* Simulation Section Styles */

/* Button Styles */
button {
  padding: 10px 40px;
  font-size: 20px;
  background-color: #CE4257;
  color: rgb(253, 253, 253);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  border-radius: 12px;
}

.button2 {
  background-color: #AE4C8A; /* Cambia el color de fondo */
  color: rgb(255, 255, 255); /* Color del texto */
  padding: 10px 40px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
  display: block; /* Asegura que el botón ocupe toda la línea */
  width: 100%; /* Asegura que el botón ocupe todo el ancho */
}

.button3 {
  background-color: #9767CB; /* Cambia el color de fondo */
  color: rgb(255, 255, 255); /* Color del texto */
  padding: 10px 40px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
  display: block; /* Asegura que el botón ocupe toda la línea */
  width: 100%; /* Asegura que el botón ocupe todo el ancho */
}

.button4 {
  background-color: #867ABB; /* Cambia el color de fondo */
  color: rgb(255, 255, 255); /* Color del texto */
  padding: 10px 40px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
  display: block; /* Asegura que el botón ocupe toda la línea */
  width: 100%; /* Asegura que el botón ocupe todo el ancho */
}

button:hover {
  background-color: #0056b3;
}

/* Read-the-Docs Text */
.read-the-docs {
  color: #888;
}