/* Estilo para el contenedor principal del formulario */
.credit-simulation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.simulation-back-button {
  all : unset;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 10px 20px;
  background-color: #AA4465;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  align-self: flex-end; /* Cambia a flex-end para alinearlo a la derecha */
  
}

.back-button:hover {
  background-color: #358880;
}

.credit-simulation-container {
    max-width: 450px;
    margin: 2px auto;
    padding: 1px 70px;
    background-color: #6e5ead;
    border-radius: 12px;
    box-shadow: 0 4px 8px #4c4273;
    margin-top: 100px;
  }
  
  /* Título del formulario */
.credit-simulation-title {
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
    font-size: 1.8em;
  }
  
  /* Estilo para cada campo de entrada */
.credit-simulation-label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;

  }
  
.credit-simulation-input {
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ffffff;
    background-color: #f0f0f0; 
    color: #333;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1em;
  }

.credit-simulation-input::-webkit-inner-spin-button,
.credit-simulation-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  
  /* Estilo para el botón de envío */
.credit-simulation-button {
    width: 50%;
    padding: 10px;
    background-color: #e74949;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 15px;
  }
  
.credit-simulation-button:hover {
    background-color: #5a0606;
  }

  .simulation-result {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .simulation-result h3,
  .simulation-result p {
    display: inline-block;
    margin-right: 10px; /* Espacio entre los textos */
  }
  
  .simulation-result h3 {
    font-size: 1.5em;
    color: #ffffff;
  }
  
  .simulation-result p {
    font-size: 2em;
    color: #ffffff;

  }
